/*body{
	background-color: #004D40;
}

nav.main-menu.expanded {
width:500px;
overflow:hidden;
}

.main-menu {
background: #00897B;
border-right:1px solid #E0F2F1; 
position: fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:13%;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
}

#tagsearch {
	margin-top: 17px;
	display: inline-block;
	width:80%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 26px;
	color: black;
}

.main-menu>ul {
text-align: center;
width: 100%;
}

.main-menu li {
position:relative;
display:block;
width:100%;
background-color: #00897B;
margin-bottom: 1%;
margin-top: 1%;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#E0F2F1;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
height: 80px;
  
}



.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:250px;
font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
bottom:0;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#4DB6AC;
}
 .content {
font-size: 35px;
color: #E0F2F1;
font-family: Century Gothic, sans-serif;
float: right;
background: #004D40;
width: 87.3%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/*.modal-body{
	height:400px;
}*//*

.modal-header{
	text-align: center;
	font-size: 24px;
}
.modal-footer{
	text-align: center;
	font-size: 16px;
}
.setit {
	text-align: center;	
}
.inputbtn{
	font-size: 18px;
	display: inline-block;
	text-align: center;
	margin-bottom: 2%;
}
#vittuhuora{
	position: relative;
	left: 110px;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	font-size: 18px;
}
.goodbtn {
	vertical-align: middle;
	display: inline-block;
  border-radius: 4px;
  background-color: #00BFA5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.logininput{
	text-align: center;
	font-size: 20px;
}
.goodbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.goodbtn span:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.goodbtn:hover span {
  padding-right: 25px;
}

.goodbtn:hover span:after {
  opacity: 1;
  right: 0;
}

/* HAMBURGER BUSINESS *//*

.c-hamburger--htla {
  background-color: #32dc64;
}

.c-hamburger--htla span {
  transition: transform 0.3s;
}

.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open *//*
.c-hamburger--htla.is-active {
  background-color: #18903c;
}

.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(38px) translateY(4px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(38px) translateY(-4px) rotate(-45deg);
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

/*IMG AND DIV STUFF*//*
img {
  max-width: 100%;
  max-height: 100%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.images {
  border: 2px solid;
  border-color: #00897B;
  background-color: grey;

  display: block;
  vertical-align: middle; 
  min-height: 60%;
  width: 80%;
  height: auto;

}*/

body{
	background-color: #F5F5F5;
}

nav.main-menu.expanded {
width:500px;
overflow:hidden;
}
#netbean{
	width:100%;
	padding-bottom:5%;
}
.main-menu {
background: #00897B;
border-right:1px solid #E0F2F1; 
position: fixed;
top:0;
bottom:0;
height:100%;
left:0;
width:13%;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
}

#search {
	margin-top: 17px;
	display: inline-block;
	width:80%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 26px;
	color: black;
}

.main-menu>ul {
text-align: center;
width: 100%;
}

.main-menu li {
position:relative;
display:block;
width:100%;
background-color: #00897B;
margin-bottom: 1%;
margin-top: 1%;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#E0F2F1;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
height: 80px;
  
}



.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:250px;
font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
bottom:0;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#4DB6AC;
}

/* CONTENTTIA */
 .content {
font-size: 35px;
font-family: Century Gothic, sans-serif;
background-color: #F5F5F5;
float: right;
width: 87.3%;
height: 100%;
text-align: center;
}
/*.images img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: 10px 10px 5px #888888;
}*/
.imagebg{
	width: 1440px;
	height: 810px;
    /*margin: 0 auto;*/
	display: inline-block;
	background-image: url("whales.jpg");
	background-repeat: no-repeat;
	background-size: contain;
}
/*.imagebg:hover{
	-moz-box-shadow:    inset 0 0 400px #000000;
   -webkit-box-shadow: inset 0 0 400px #000000;
   box-shadow:         inset 0 0 400px #000000;
}*/

.images {
	text-align:center;
	margin-bottom: 5%;
	margin-top: 5%;
  display: block;
  vertical-align: middle; 
  min-height: 60%;
  width: 100%;
  height: auto;
}


@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
/*.modal-body{
	height:400px;
}*/

.modal-header{
	text-align: center;
	font-size: 24px;
}
.modal-footer{
	text-align: center;
	font-size: 16px;
}
.setit {
	text-align: center;	
}
.inputbtn{
	font-size: 18px;
	display: inline-block;
	text-align: center;
	margin-bottom: 2%;
}
#vittuhuora{
	position: relative;
	left: 110px;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
	font-size: 18px;
}
.goodbtn {
	vertical-align: middle;
	display: inline-block;
  border-radius: 4px;
  background-color: #00BFA5;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.logininput{
	text-align: center;
	font-size: 20px;
}
.goodbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.goodbtn span:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.goodbtn:hover span {
  padding-right: 25px;
}

.goodbtn:hover span:after {
  opacity: 1;
  right: 0;
}


/* HAMBURGER BUSINESSESS FOR MOBILE */

.c-hamburger--htla {
  background-color: #00897B;
}

.c-hamburger--htla span {
  transition: transform 0.3s;
}

.c-hamburger--htla span::before {
  transform-origin: top right;
  transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htla span::after {
  transform-origin: bottom right;
  transition: transform 0.3s, width 0.3s, bottom 0.3s;
}

/* active state, i.e. menu open */
.c-hamburger--htla.is-active {
  background-color: #00BFA5;
}

.c-hamburger--htla.is-active span {
  transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  transform: translateX(38px) translateY(4px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  transform: translateX(38px) translateY(-4px) rotate(-45deg);
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 18px;
  right: 18px;
  height: 8px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -20px;
}

.c-hamburger span::after {
  bottom: -20px;
}

/* window resizing */

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}